<div class="top-container">
    <div class="row">
        <div class="col md-6 d-flex flex-row ">
            <button type="button" class="btn btn-primary  ">Add books</button>

        </div>
        <div class="col-md-6 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-success ">save</button>

        </div>

    </div>


</div>

<div class="body-container">
    <div class="2-row">
        <div class="col-md-6">
            <label>Book name:</label> <br>
            <input type="text" class="form-control" placeholder="Book Name">

        </div>

    </div> 
    <br>
    <div class="form-group col-md-6">
        <label for="CatergoryId">CatergoryId</label>
        <select class="form-control" id="catergoryId">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      
        <br>
      
        <label for="authorId">AuthorId</label>
        <select class="form-control" id="authorId">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
      



</div>