<div class="header"> 
    <nav class="nav-bar">
      <ul> 
        <li>
          <a routerLink="/home">Library Management &copy;</a>
        </li> 
          <li>
            <a routerLink="/home">home</a>
          </li>
          <li>
            <a routerLink="/user">Users</a>
          </li>
          <li>
            <a routerLink="/books">books</a>
          </li>
          <li>
            <a routerLink="/books-issued">Books Issued</a>
          </li>
          
      </ul>
      
    </nav>
  </div>
  
    
  
  
  
  
    
  
  
  