<div class="container">
    <div class="row">
        <div class="col md-6">
            <button type="button" class="btn btn-primary btn-lg" routerLink='/add-user'> Add user </button>
         </div>
         <div class="col md-6">
          <button type="button" class="btn btn-primary btn-lg " routerLink='/add-books'> Add Books </button>
       </div>
      
    </div>
    <div class="row">
        <div class="col md-6">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/user" >  Users </button>
         </div>
         <div class="col md-6">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/books" > Books </button>
         </div>
    


    </div>



</div>